<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication13">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/tab_home_bottom_gouwuche"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.ShowActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.MyPersonalActivity"/>
        <activity android:name=".activity.MyCircleActivity"/>
        <activity android:name=".activity.MyTracksActivity"/>
        <activity android:name=".activity.MyAddressActivity"  android:launchMode="singleTask"/>
        <activity android:name=".activity.MyWalletActivity"/>
        <activity android:name=".activity.MyNewAddressActivity"  android:launchMode="singleTask"/>
        <activity android:name=".activity.EstablishOrderActivity"/>
        <activity android:name=".activity.PaymentActivity"/>
        <activity android:name=".activity.EvaluateActivity"/>
        <activity android:name=".iamgesview.PlusImageActivity"/>
    </application>

</manifest>